.app {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Internet_Explorer_10%2B11_logo.svg/1200px-Internet_Explorer_10%2B11_logo.svg.png');
    background-color: rgb(215, 215, 215);
    height: 75px;
    min-width: 75px;
    border-radius: 25px;
    background-size: 100% 100%;
    margin: 25px 75px;
}

.appRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

.systemBtnsBlock {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 65px;
    background-color: rgb(235, 235, 235);
    position: fixed;
    top: calc(100% - 65px);
    left: 0px;
    z-index: 5;
}

.systemBtnsBlock > span {
    font-size: 54px;
}

.desktop {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 300%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
}

.openedApp {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 1.0;
}

.wallpapers {
    overflow-x: scroll;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 300%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/ba/f6/8e/baf68edfc6889408276a7679e3b4eeda.jpg');
    background-size: 45% 65%;
}

.curtain {
    overflow: hidden;
    z-index: 10;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0px 15px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.curtainHeader {
    position: relative;
    top: 0px;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
}

.curtainBodyHeader {
    position: relative;
    top: 0px;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
}

.curtainItem {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.curtainItemIcon {
    color: rgb(255, 255, 255);
    margin: 0px 10px;
}

.openedApps {
    justify-content: center;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
}

.openedAppsItem {
    border-radius: 8px;
    min-width: 350px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: 0px 25px;
    position: relative;
    top: 0px;
    left: 0px;
}

.appsList {
    display: flex;
}

.appColumn {
    display: flex;
    flex-direction: column;
    margin: 0px 150px;
}

.powerDialog {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 20;
}

.powerDialogBtn {
    margin: 25px;
    width: 75px;
    height: 75px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.sleepMode {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 25;
}

.graphicKeyWrap {
    /* -webkit-filter: grayscale(1); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.speakersDialog {
    position: fixed;
    /* top: 25%; */
    top: 200px;
    left: 5%;
    width: 25px;
    height: 275px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    box-sizing: border-box;
    padding: 25px 15px;
}

.speakersDialogVolume {
    background-color: rgb(0, 100, 255);
    width: 5px;
    height: calc(275px - (25px + 15px));
    border-radius: 50px;
}

.speakersDialogVolumeSwitcher {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background-color: rgb(0, 100, 255);
    position: relative;
    top: -7.5px;
    left: -7.5px;
}

.appListWithSearch {
    position: relative;
    top: 100px;
}

.search {
    background-color: rgb(65, 65, 65);
    border: 1px solid rgb(50, 50, 50);
    border-right: none;
    font-weight: bolder;
    color: rgb(175, 175, 175);
    border-radius: 35px;
}

.search:focus {
    box-shadow: none;
    background-color: rgb(65, 65, 65);
    border: 1px solid rgb(50, 50, 50);
    border-right: none;
    color: rgb(175, 175, 175);
}

* {
    user-select: none;
}

.searchWrap {
    position: fixed;
    width: 85%;
    left: calc((100% - 85%) / 2);
    top: 50px;
    background-color: rgb(65, 65, 65);
    border-radius: 35px;
    height: 50px;
}

.searchCloseBtn {
    border: 0px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    align-self: center;
}

.timeOnLock {
    color: rgb(255, 255, 255);
    font-size: 48px;
}

.lock {
    box-sizing: border-box;
    padding: 25px 75px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/ba/f6/8e/baf68edfc6889408276a7679e3b4eeda.jpg');
    z-index: 15;
    background-size: cover;
}